/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* BODY */

body {
    background-color: #f4f1f0;
    margin: 0;
}

/* MAIN */

p {
    font-family: freight-macro-pro,serif;
}




/* HEADER */

header {
    display: flex;
}

header img{
    height: 1.5em;
    width: auto;
    margin: 0.8em;
}

header ul {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    display: none;
}


/* BANNER BOVEN */


section:first-of-type {
    display: flex;
    background-image: url(/images/structuur-roze-blauw.png);
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    color: white;
    margin: 18px;
    padding-top: 18px;
    text-align: center;
}

section:first-of-type img {
    margin: auto;
    width: auto;
    height: 213px;
    align-self: center;

}

button:first-of-type {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    color: #09293a;
    background-color: #fa969f;
    border: none;
    align-self: center;
    margin-bottom: 3em;
    margin-top: 1em;
    line-height: 1;
    border-radius: 3px;

}

/* 2e SECTION */

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2) img {
    width: auto;
    height: 150px;
    align-self: center;
    margin-top: 2em;
}

section:nth-of-type(2) article {
    margin-top: 1em;
    text-align: center;
    color: #09293a;
    padding-top: 1em;

}

section:nth-of-type(2) h2{
    margin-bottom: auto;
}

section:nth-of-type(2) p{
    margin-top: 0;
    
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    margin: 18px;
}


article p {
    font-size: 1em;
}

section:nth-of-type(2) article:first-of-type {
    background-color: #ec6258;
}

section:nth-of-type(2) article:nth-of-type(2){
    background-color: #bfccc7;
    padding-bottom: 1.5em;

}

section:nth-of-type(2) article:nth-of-type(2) img{
    height: 100px;
}

/* 3e SECTION */

section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    color: black;
    margin-bottom: 0.5em;
    
}

h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8em;
    color: black;
    font-weight: 600;
    margin-bottom: -0.2em;
    margin-top: auto;
}

section:nth-of-type(3) img{
    align-self: center;
    height: auto;
    width: 100%;
}

section:nth-of-type(3) h3 {
    margin-top: 0.5em;
    
}

section:nth-of-type(3) p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: freight-macro-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    line-height: 34px;


}

h5 {
    font-family: freight-macro-pro,serif;
    background-color: #fa969f;
    color: #09293a;
    padding: 0.4em;

}

section:nth-of-type(3) h5{
    display: inline-block;
    margin: 1em 0 0em 0;
}


/* 4e SECTION */

section:nth-of-type(4) {

}

h3 + img {
    width: 100%;
}

section:nth-of-type(4) article {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em;
}

section:nth-of-type(4) h5 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}


section:nth-of-type(4) h3 {
    color: white;
    position: absolute;
    top: 36%;
    left: 0.8em;
}

section:nth-of-type(4) h4 {
    margin: 0.5em 0.8em 0.5em 0.8em;
}

h4 + img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    float: left;
    margin: 0 0 0 0.8em;
}

section:nth-of-type(4) p {
    font-size: 1.3em;
    margin: 0 0.8em 0.8em 0.8em;

}















