/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* BODY */

body {
    background-color: #f4f1f0;
    margin: 0;
}

h1, h2, h3, h4, h6, span {
    font-family: 'Nunito Sans', sans-serif;
}



/* MAIN */

p {
    font-family: freight-macro-pro,serif;
}






/* HEADER */

.logoicon {
    color: #09293a;
}

.headerlogo {
    width: 6.3em;
    height: 1.8em;
    margin: 0.5em;
    
}

header {
    display: flex;
}

header img{
    height: 1.5em;
    width: auto;
    margin: 0.8em;
}

header ul {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    display: none;
}


/* BANNER BOVEN */


section:first-of-type {
    display: flex;
    background: rgb(0,34,56);
    background: linear-gradient(35deg, rgba(0,34,56,1) 0%, rgba(0,34,56,1) 30%, rgba(151,100,114,1) 80%, rgba(151,100,114,1) 100%);
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    font-size: 1.5em;
    color: white;
    margin: 1.1em;
    padding-top: 18px;
    text-align: center;
}

section:first-of-type img {
    margin: auto;
    width: auto;
    height: 13.3em;
    align-self: center;

}

section:first-of-type button:first-of-type {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    color: #09293a;
    background-color: #fa969f;
    border: none;
    align-self: center;
    margin-bottom: 3em;
    margin-top: 1em;
    line-height: 100%;
    border-radius: 3px;

}

/* 2e SECTION - Cinevillepas / Vitamine cineville */

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;


}

section:nth-of-type(2) img {
    width: auto;
    height: 9.4em;
    align-self: center;
    margin-top: 2em;
}

section:nth-of-type(2) article {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    color: #09293a;
    padding-top: 1em;
}

section:nth-of-type(2) h2{
    margin-bottom: auto;
}

section:nth-of-type(2) p{
    margin-top: 0;
    
}

h2 {
    font-size: 1.5em;
    margin: 1.1em;
}


article p {
    font-size: 1em;
}

section:nth-of-type(2) article:first-of-type {
    background-color: #ec6258;
}

section:nth-of-type(2) article:nth-of-type(2){
    background-color: #bfccc7;
    padding-bottom: 1.5em;

}

section:nth-of-type(2) article:nth-of-type(2) img{
    height: 100px;
}

/* 3e SECTION -film vd week */

section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 2em;
    padding: 0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
}

h3 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 0.5em;
    
}

section:nth-of-type(3) h4 {
    margin-left: 0;
}

span {
    font-size: 0.8em;
    color: black;
    font-weight: 600;
    margin-bottom: -0.2em;
    margin-left: 0;
    margin-top: auto;
}

section:nth-of-type(3) img{
    padding: 1em;
    align-self: center;
    height: auto;
    width: 100%;
}

section:nth-of-type(3) h3 {
    color: black;
    margin-top: 0.5em;
    
}

section:nth-of-type(3) p{
    padding: 0;
    margin: 0;
    font-family: freight-macro-pro,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    line-height: 120%;


}


article div span {
    font-family: freight-macro-pro,serif;
    background-color: #fa969f;
    color: #09293a;
    padding: 0.4em;

}

section:nth-of-type(3) article span:first-child {
    margin: 1em 0 0em 0;
    font-family: freight-macro-pro,serif;
    background-color: #fa969f;
    color: #09293a;
    padding: 0.4em;
    display: inline-block;
}



/* 4e SECTION - tips */


div + span {
    margin: .5em 1em .5em 1em;
}

section article div {
    position: relative;
    
}

h3 + img {
    width: 100%;
}

section article {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em;
}

section article div span {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}


section article div h3 {
    color: white;
    position: absolute;
    bottom: 0em;
    left: 0.8em;
}

section article h4 {
    margin: 0.5em 0.8em 0.5em 0.8em;
}

h4 + img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    float: left;
    margin: 0 0 0 0.8em;
}

div img:first-child {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    float: left;
    margin: 0 0.3em 0 .8em;
}


section article p {
    font-size: 1.3em;
    margin: 0 0.8em 0.8em 0.8em;

}

/* Buttons tips */

article + div {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: -0.8em 1em 1em 1em;
    padding: 0.8em;
}

article + div button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8em;
    color: black;
    border: none;
    background-color: white;
    opacity: 0.6;
    
}

/* 5e section - Podcast */

section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
}

section:nth-of-type(5) img{
    align-self: center;
    height: auto;
    width: 100%;
}

h6 {
    margin: 0.5em;
    font-size: 0.8em;
}

section:nth-of-type(5) p{
    font-size: 1.8em;
    margin: 0;
}

/* 6e section - Slider */


/* 7e section - verheugfilm */

section:nth-of-type(7) span:first-child{
    background-color: #9fd8f3;
}

/* 8e section - grid */

section:nth-of-type(8) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    background: white;
    padding: 1em;

}

section:nth-of-type(8) article {
    margin: 0;
    
}


section:nth-of-type(8) article p {
    margin: .5em 0 0 0;
    font-size: 1em;
}

section:nth-of-type(8) article img {
    max-width: 100%;
}

/* 9e section - moet je kijken */

section:nth-of-type(9) {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
}

section:nth-of-type(9) img{
    align-self: center;
    height: auto;
    width: 100%;
}

h6 {
    margin: 0.5em;
    font-size: 0.8em;
}

section:nth-of-type(9) p{
    font-size: 1.8em;
    margin: 0;
}

/* 10e section - Winkeltje */

section:nth-of-type(10) {
    margin-top: 2em;
    display: flex;
    background-color: #fa969f;
    flex-direction: column;
    text-align: center;
    color: #09293a;
    
}

section:nth-of-type(10) h2 {
    font-size: 2.4em;
    margin: 1em
}

section:nth-of-type(10) p {
    font-size: 1.8em;
    margin: 0  1em 1em;
} 

section:nth-of-type(10) img{
    margin: 1em;
    width: auto;
    height: 13.3em;
    align-self: center;
}

/* 11e section - laatste 2 */

section:nth-of-type(11) {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
}

section:nth-of-type(11) img{
    align-self: center;
    height: auto;
    width: 100%;
}

section:nth-of-type(11) p{
    font-size: 1.8em;
    margin: 0;
}

section:nth-of-type(12) {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 3em;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
}

section:nth-of-type(12) img{
    align-self: center;
    height: auto;
    width: 100%;
}

h6 {
    margin: 0.5em;
    font-size: 0.8em;
}

section:nth-of-type(12) p{
    font-size: 1.8em;
    margin: 0;
}

/* FOOTER */

footer {
    text-align: center;
}

footer h1 {
        margin: 2em;
}
